.header { 
  align-items: bottom;
  background-color: #000000;
  border-bottom: 2px solid #b82601;
  color: white;
  display: flex;
  height: 175px;
  width: 100%;
}

.nav-bar {
  align-items: flex-end;
  display: flex;
  margin-bottom: 30px;
  margin-left: 15px;
}

h4 {
  display: inline;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

nav i.fas, nav i.far{
  color: #54B3F8;
  margin-right: 5px;
}

i.fas.fa-code-branch {
  color: white;
}

i.far.fa-user-circle {
  margin-right: 10px;
  margin-top: 15px;
}

i.fas.fa-sort-down{
  color: #54B3F8;
  margin-right: 10px;
  margin-left: 5px;
}

section.admin-logo h5{
  color: #54B3F8;
}
.admin-logo {
  margin: 0px 0px 0px auto;
}

.admin-logo h5 {
  display: inline-block;
  line-height: 5px;
  margin-right: 20px;
  position: relative;
  top: -5px;
}

.logo {
  font-family: 'Bungee Inline', cursive;
  font-size: 80px;
  margin: 20px 0px 0px 0px;
}

.g2g {
  color: white;
  margin: 0px 10px 20px 10px;
  padding-top: 20px;
}

main {
  background-color: #062f4f;
}

.card {
  background-color: #813772;
  box-shadow: 0px 0px 5px 3px rgba(110,107,110,0.99);
  color: white;
  display: inline-block;
  height: 400px;
  margin: 10px 0px 10px 15px;
  width: 250px;
}

.box {
  margin-right: 15px;
  text-align: center;
}

.views, .count {
  padding-top: 0px;
  margin: 0px;
}

.picture {
  background-size: cover;
  display: flex;
  height: 125px;
  justify-content: flex-end;
  padding-top: 15px;
}

.fas {
  color: white;
  margin-right: 140px;
}

.goats {
  margin-left: 10px;
  margin-top: 10px;
}

h5.goats.name {
  margin-bottom: 0px;
}

time {
  font-size: 11px;
}

.link {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 50px;
  margin: 20px auto;
  padding: 5px;
  width: 225px;
}

a {
  color: white;
  font-size: 11px;
  text-decoration: none;
}

.goats.playlist, .goats.things {
  margin-bottom: 0px;
}

.goats.music, h2.goats {
  margin-bottom: 25px
  margin-top: 0px;
}

h2.goats {
  color: #54B3F8;
}
.first {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/goatone.jpg);
}

.second {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/goattwo.jpg);

}

.third {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/goatthree.jpg);
}

.fourth {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/goatfour.jpg);

}

.fifth {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/goatfive.jpg);

}

.sixth {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/goatsix.jpg);

}

.seventh {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/goatseven.jpg);

}

.eighth {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/goateight.jpg);
}

@media screen and (max-width: 750px){
  .nav-bar {
    display: block;
    margin-left: 0px;
    padding-top: 20px;
  }
  h4{
    line-height: 50px;
    margin-left: 5px;
    margin-right: 0px;
  }
  .admin-logo{
    margin-right: 5px;
    padding-top: 10px;
    text-align: right;
  }
  .admin-logo h5{
    margin-right: 0px;
  }
  .logo{
    margin-top: 0px;
  }
}

@media screen and (max-width: 790px){
  .card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}